<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cu">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UninvitedVisitorAdaptor"
            android:exported="false" />
        <activity
            android:name=".ChiefSecurityUninvitedDashboard"
            android:exported="false" />
        <activity
            android:name=".Security_Scanned_QR"
            android:exported="false" />
        <activity
            android:name=".SecurityApprovedActivity"
            android:exported="false" />
        <activity
            android:name=".Chief_Dept_Approved"
            android:exported="false" />
        <activity
            android:name=".ApprovedVisitorsActivity"
            android:exported="false" />
        <activity
            android:name=".VisitorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DirectFormActivity"
            android:exported="false" />
        <activity
            android:name=".Chief_Dept_Unapproved"
            android:exported="false" />
        <activity
            android:name=".VisitorStatusTeacherDashboard"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FormActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ChiefSecurityDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".OptionalActivity"
            android:exported="false" /> <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>